@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.centralise-text{
  @apply text-4xl text-center font-medium
}

.shimmer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent 0%,
    rgba(255, 255, 255, 0.1) 70%,
    transparent 100%
  );
  animation: shimmer 2.5s linear infinite;
  transform: translateX(-100%);
  z-index: 1;
  border-radius: inherit;
  pointer-events: none;
}

/* text-transparent bg-clip-text */
.text-initial {
  color: transparent;
  background-clip: text;
}

.bg-gradient-white-top {
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.90), rgba(255, 255, 255, 0.65));
}
